@media (max-width: 700px) {
  .flex-row,
  .flex-row-reverse {
    flex-direction: column !important;
    gap: 1.5rem !important;
    align-items: center !important;
  }
  .knot-frame,
  .samples-frame {
    margin-bottom: 1.5rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
.knot-frame {
  position: relative;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.samples-frame {
  position: relative;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.content-container {
  position: relative;
  width: clamp(150px, 20vw, 400px);
  aspect-ratio: 1;
  flex-shrink: 0;
}

.shift-right {
  transform: translateX(5%);
}


.align-left {
  margin-right: auto;
  display: block;
}

.align-right {
  margin-left: auto;
  display: block;
}

.knot-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  pointer-events: none;
  user-select: none;
}

.left-nested-img {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 70%;
  height: 70%;
  transform: translate(-70%, -40%);
  object-fit: cover;
  z-index: 1;
}

.right-nested-img {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 70%;
  height: 70%;
  transform: translate(-40%, -35%);
  object-fit: cover;
  z-index: 1;
}